/*  your css code here. If applicable */
.navbar{
	background-color: #D3D3D3;
	padding: 10px;
}
 .navbar ul {
      list-style: none; /* removes bullets */
      margin: 0;
      padding: 0;
}
.navbar ul li {
      display: inline; /* makes list items horizontal */
      margin-right: 1rem;
}